<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WatchkitExperiment WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WatchkitExperiment WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WatchkitExperiment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D55E7311D9BDA800094455F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D55E7451D9BDA800094455F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D55E7501D9BDA800094455F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D55E7591D9BDA800094455F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
